.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: plum;
  font-family: Arial, sans-serif;
}

.not-found h2 {
  font-size: 36px;
  color: black;
  margin-bottom: 2%;
}

.not-found a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: purple;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.not-found a:hover {
  background-color: orchid;
}