/* .login-container {
  background: whitesmoke;
  padding: 50px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  
  margin: 80px auto;
  font-family: Arial, sans-serif;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 8%;
}

button {
  width: 50%;
  padding: 10px;
  background: purple;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 28%;
}

button:hover {
  background: plum;
}

.para {
  margin-top: 10%;
  text-align: center;
}

.para .login-link {
  text-decoration: none;
  color: purple;
}

.para .login-link:hover {
  text-decoration: none;
  color: plum;
}


.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
} */







.login-container {
  background: whitesmoke;
  padding: 40px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  /* margin-top: 10%; */
  margin: 80px auto;
  font-family: Arial, sans-serif;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 8%;
}

.button {
  width: 50%;
  padding: 10px;
  background: purple;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 28%;
}

.button:hover {
  background: plum;
}

.para {
  margin-top: 10%;
  text-align: center;
}

.para .login-link {
  text-decoration: none;
  color: purple;
}

.para .login-link:hover {
  text-decoration: none;
  color: plum;
}


.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}