.contact h1 {
  margin-top: 2%;
  text-align: center;
}

.contact p {
  font-weight: bold;
  text-align: center;
}

.form {
  margin-top: 3%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.name {
  padding: 20px;
  width: 70%;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 2%;
}

.email {
  padding: 20px;
  width: 70%;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 2%;
}

.number {
  padding: 20px;
  width: 70%;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 2%;
}

.submit {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: purple;
  font-size: large;
  width: 20%;
  margin-left: 1%;
}

.submit:hover {
  background-color: plum;
  color: white;
}

/* Media Query */

@media screen and (max-width: 1024px) {
  .form {
    margin-left: 15%;
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .contact h1 {
    margin-top: 5%;
  }

  .form {
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
  }

  .name,
  .email,
  .number {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
  }

  .submit {
    width: 40%;
    font-size: medium;
    margin-bottom: 5%;
  }
}