  .app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* full viewport height */
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: purple;
    color: white;
    height: 60px;
    position: relative;
    /* needed for absolute elements inside */
  }

  .logo {
    border-radius: 50%;
    margin-left: 2%;
    object-fit: cover;
    border: 1px solid black;
    width: 60px;
    height: 60px;
  }

  .navbar h1 {
    margin-right: auto;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: large;
  }

  .nav-links a:hover {
    color: plum;
  }

  .nav-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    margin-right: 10px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: purple;
    color: white;
    height: 60px;
    position: relative;
    flex-shrink: 0;
  }

  /* Content grows */
  #outlet {
    flex: 1;
  }

  /* Media Query */

  @media screen and (max-width: 768px) {
    .nav-toggle {
      display: block;
      color: white;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      background-color: purple;
      position: absolute;
      top: 60px;
      right: 0;
      width: 200px;
      padding: 20px;
      border-radius: 0 0 0 10px;
      z-index: 100;
    }

    .nav-links.active {
      display: flex;
    }

    .nav-links a {
      margin: 10px 0;
      font-size: medium;
    }

    .logo {
      width: 40px;
      height: 40px;
    }


  }

  @media screen and (max-width: 1024px) {
    .navbar h1 {
      font-size: 1.5rem;
    }

    .nav-links a {
      margin-left: 20px;
      font-size: medium;
    }


  }

  @media screen and (max-width: 1115px) {
    .navbar h1 {
      font-size: 1.5rem;
    }

    .nav-links a {
      margin-left: 20px;
      font-size: medium;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: purple;
      color: white;
      height: 60px;
      position: relative;
      flex-shrink: 0;
    }

    .footer h1,
    .footer p {
      margin: 0;
    }

    @media (max-width: 768px) {
      .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        text-align: center;
        padding: 15px 10px;
      }

      .footer h1 {
        margin-bottom: 5px;
        font-size: larger;
      }

      .footer p {
        margin: 0;
        font-size: medium;
      }
    }

  }