.about h1 {
  margin-top: 5%;
  margin-left: 5%;
  text-align: left;
}

.img {
  display: block;
  margin: 0 auto;
  /* Center horizontally */
  width: 700px;
  height: 700px;
  border: 2px solid purple;
}

.about p {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 2%;
  font-weight: bold;
}

/* Media Query */

@media screen and (max-width: 1024px) {
  .img {
    width: 500px;
    height: 500px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 768px) {

  .about h1,
  .about p,
  .para1 {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
  }

  .img {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 3%;
  }
}